$color-gray: #697590;
$color-grayLight: #d5dae6;
$color-grayLighter: #eef1f7;
$color-white: #fff;

$color-action: #3574e3;
$color-action-active: #7bc6f3;

$code-playback-remove: #FFE6E6;
$code-playback-insert: #E9FFF2;

$fontSize-base: 14px;
$fontSize-large: 16px;
$fontSize-30px: 30px;

$baseBorderRadius: 2px;
